<!--source: https://codepen.io/marcobiedermann/pen/gReMQy-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<header>

    <div>

        <nav>
            <ul>
<!--                <li><p th:text="${loggedInPerson.firstname} + ' ' ${loggedInPerson.surname}">-->
<!--                    current user-->
<!--                </p></li>-->
                <li>
                    <a th:class="${#strings.equals(selectedDomain, 'home')} ? 'is-active' : ''"
                       href="/">start</a>
                </li>

                <li>
                    <a th:class="${#strings.equals(selectedDomain, 'courses')} ? 'is-active' : ''"
                       href="/courses">workshops</a>
                </li>

                <li>
                    <a th:class="${#strings.equals(selectedDomain, 'createWorkshop')} ? 'is-active' : ''"
                       href="/createWorkshop">createWorkshop</a>
                </li>

                <li>
                    <a href="#" th:href="@{/logout}"><span
                            class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>

            </ul>
        </nav>

    </div>

</header>

</body>
</html>
