<!--source: https://codepen.io/marcobiedermann/pen/gReMQy-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<header class="header sticky sticky--top js-header">

    <div class="grid" id="headerDiv">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">

                <li class="navigation__item">
                    <a th:class="${#strings.equals(selectedDomain, 'home')} ? 'is-active' : ''"
                        class="navigation__item"><a class="is-active" href="/flat-organizer">Home
                </a></li>

                <li class="navigation__item">
                    <a th:class="${#strings.equals(selectedDomain, 'groceryList')} ? 'is-active' : ''"
                        href="/flat-organizer/groceryList">Einkaufsliste</a>
                </li>

                <li class="navigation__item">
                    <a th:class="${#strings.equals(selectedDomain, 'noSecurity')} ? 'is-active' : ''"
                        href="/flat-organizer/noSecurity">noSecurity endpoint</a>
                </li>

                <li class="navigation__item">
                    <a th:class="${#strings.equals(selectedDomain, 'minutes')} ? 'is-active' : ''"
                        href="/flat-organizer/minutes">WG-Treffen</a>
                </li>

                <li class="navigation__item">
                    <a
                            th:class="${#strings.equals(selectedDomain, 'information')} ? 'is-active' : ''"
                        href="/flat-organizer/information">Information</a>
                </li>
            </ul>
        </nav>

    </div>

</header>

</body>
</html>
