<!--source: https://codepen.io/marcobiedermann/pen/gReMQy-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>

<!--<header class="sticky&#45;&#45;top">-->

<!--    <div class="grid" id="headerDiv">-->

<!--        <div class="grid">-->

<!--            <nav class="navigation">-->
<!--                <ul class="navigation__list">-->
<!--                    &lt;!&ndash;                <li><p th:text="${loggedInPerson.firstname} + ' ' ${loggedInPerson.surname}">&ndash;&gt;-->
<!--                    &lt;!&ndash;                    current user&ndash;&gt;-->
<!--                    &lt;!&ndash;                </p></li>&ndash;&gt;-->
<!--                    <li class="navigation__item selected">-->
<!--                        <a th:class="${#strings.equals(selectedDomain, 'home')} ? 'is-active' : ''"-->
<!--                           th:href="@{/}">start</a>-->
<!--                    </li>-->

<!--                    <li class="navigation__item">-->
<!--                        <a th:class="${#strings.equals(selectedDomain, 'courses')} ? 'is-active' : ''"-->
<!--                           th:href="@{/courses}">workshops</a>-->
<!--                    </li>-->

<!--                    <li class="navigation__item">-->
<!--                        <a th:class="${#strings.equals(selectedDomain, 'createWorkshop')} ? 'is-active' : ''"-->
<!--                           th:href="@{/createWorkshop}">createWorkshop</a>-->
<!--                    </li>-->

<!--                    <li class="navigation__item">-->
<!--                        <a href="#" th:href="@{/logout}"><span-->
<!--                                class="glyphicon glyphicon-log-out"></span> Logout</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->

<!--    </div>-->

<!--</header>-->

<header class="header sticky sticky--top js-header">

    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a href="#" class="is-active">Home</a></li>
                <li class="navigation__item"><a href="#">About Us</a></li>
                <li class="navigation__item"><a href="#">Work</a></li>
                <li class="navigation__item"><a href="#">Clients</a></li>
                <li class="navigation__item"><a href="#">Contact</a></li>
            </ul>
        </nav>

    </div>

</header>

</body>
</html>
