<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
<!--    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>-->
</head>
<body>

<h3>Courses</h3>
<table>
    <thead>
    <tr>
        <th> Host </th>
        <th> Name </th>
        <th> Description </thl>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:if="${allCourses.empty}">-->
<!--        <td colspan="2"> No Books Available </td>-->
<!--    </tr>-->
    <tr th:each="course : ${allCourses}">
        <td><a th:href="@{'/courses/specific?id=' + ${course.courseId}}"
               th:text="${course.host.firstname}">
            Host </a></td>
        <td><span th:text="${course.courseName}"> Name </span></td>
        <td><span th:text="${course.courseDescription}"> Description </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
