<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
<!--    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>-->
</head>
<body>

<h3>Courses</h3>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Host </th>
        <th> Description </th>
        <th> Participant count </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${allCourses.empty}">
        <td colspan="4"> No Courses Available </td>
    </tr>
    <tr th:each="course : ${allCourses}">
        <td><a th:href="@{'/courses/specific?id=' + ${course.courseId}}"
               th:text="${course.courseName}">
            Name </a></td>
        <td><span th:text="${course.host.firstname}"> Host </span></td>
        <td><span th:text="${course.courseSummary}"> Description </span></td>
        <td><span th:text="${course.participantCount}"> Participant count </span></td>
    </tr>

    </tbody>
</table>
</body>
</html>
