<!--source: https://codepen.io/marcobiedermann/pen/gReMQy-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Einkausliste</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main class="main">

    <div class="grid" id="groceryListView">

        <div align="center">
            <form action="#" id="itemFormContainer" method="post" th:action="@{/groceryList}"
                  th:object="${item}" th:placeholder="Produkt">
                <input id="itemName" list="suggestion_name" th:field="*{itemName}"
                       th:placeholder="Produkt" type="text"/><br/>
                <datalist id="suggestion_name">
                    <option th:value="Küchenrolle">
                    <option th:value="Klopapier">
                </datalist>


                <div id="secondLineSubmit">
                    <input id="itemCnt" list="suggestion_cnt" th:field="*{itemCount}"
                           th:value="${item.itemCount}" type="number"/><br/>
                    <datalist id="suggestion_cnt">
                        <option th:value="5">
                    </datalist>

                    <div class="flexBtn">

                        <button id="newProdBtn" type="submit" value="add">
                            Produkt hinzufügen</button>

<!--                        <button id="itemSubmitBtn" type="submit" value="delete">-->
<!--                            Produkt hinzufügen</button>-->

                    </div>

<!--                    <a href="/flat-organizer/information">Information</a>-->
                </div>

            </form>
        </div>

        <br/>

        <div class="listContainer">
            <div class="gridItem">

                <h2>Aktuelle Einkaufsliste</h2>

                <form action="#" method="post" th:action="@{/processForm}"
                      th:object="${selectedItems}">

                    <table>
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Produkt</th>
                            <th>Menge</th>
                            <th>Zimmer</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:if="${newItems.empty}">
                            <td colspan="3"> Keine Produkte in der Einkaufsliste!</td>
                        </tr>

                        <tr th:each="item : ${newItems}">
                            <td><input th:field="*{checkedItems}" th:value="${item.itemId}"
                                       type="checkbox"/></td>
                            <td><span th:text="${item.itemName}"> item name </span></td>
                            <td><span th:text="${item.itemCount}"> item count </span></td>
                            <td><span
                                    th:text="${item.destination.roomDescription}"> flatmate name </span>
                            </td>
                        </tr>
                    </table>

                    <div class="flexBtn">

                        <input id="itemSubmitBtn" type="submit" name="update"
                               value="Produkte einkaufen"/>
                        <input id="itemSubmitBtn" type="submit" name="remove"
                               value="Produkte entfernen"/>

                    </div>

                </form>

            </div>

            <div class="gridItem">
                <h2>Letzter Einkauf</h2>

                    <table>
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Produkt</th>
                            <th>Menge</th>
                            <th>Zimmer</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:if="${oldItems.empty}">
                            <td colspan="3"> Keine Produkte in der Einkaufsliste!</td>
                        </tr>

                        <tr th:each="item : ${oldItems}">
<!--                            <td><input th:field="*{checkedItems}" th:value="${item.itemId}"-->
<!--                                       type="checkbox"/></td>-->
                            <td><input type="checkbox" disabled="disabled" checked/></td>
                            <td><span th:text="${item.itemName}"> item name </span></td>
                            <td><span th:text="${item.itemCount}"> item count </span></td>
                            <td><span
                                    th:text="${item.destination.roomDescription}"> flatmate name </span>
                            </td>
                        </tr>
                    </table>
            </div>

        </div>

    </div>

    </div>


</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
