<!--source: https://codepen.io/marcobiedermann/pen/gReMQy-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Einkausliste</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main class="main">


    <div class="grid" id="groceryListView">

        <div class="listContainer">
            <div align="center">
            <div id="itemInputBox" align="center">

                <form action="#" id="itemFormContainer" method="post" th:action="@{/groceryList}"
                      th:object="${item}" th:placeholder="Produkt">


                    <div id="flexColumn">

                        <select class="selectableElement" th:field="*{itemName}">
                            <option value="">Produktart</option>
                            <option th:each="preset : ${saved_presets}"
                                    th:value="${preset.presetName}"
                                    th:text="${preset.presetName}"></option>
                        </select>

                        <input id="itemCnt" th:field="*{itemCount}"
                               th:value="${item.itemCount}" type="number"/><br/>

                    </div>

                    <div class="flexBtn">

                        <button id="btnNewProd" class="selectableElement" type="submit" value="add">
                            Produkt hinzufügen
                        </button>
                    </div>

                </form>

            </div>
        </div>

            <div align="center">
                <form action="#" id="categoryContainer" method="post" th:action="@{/addNewPreset}"
                      th:object="${new_preset}" th:placeholder="Produkt">
                    <input id="presetName" th:field="*{presetName}"
                           th:placeholder="Produkt" type="text"/><br/>

                    <div id="flexColumn">

                        <select class="selectableElement" th:field="*{supplyCategory}">
                            <option value="">Kategorie</option>
                            <option th:each="category : ${available_categories}"
                                    th:value="${category.name()}"
                                    th:text="${category.getCategoryName()}"></option>
                        </select>


                        <div class="flexBtn">

                            <button class="selectableElement" type="submit" value="add">
                                Default hinzufügen
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <br/>

        <div class="listContainer">
            <div class="gridItem">

                <h2>Aktuelle Einkaufsliste</h2>

                <form action="#" method="post" th:action="@{/processForm}"
                      th:object="${selectedItems}">

                    <table>
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Produkt</th>
                            <th>Menge</th>
                            <th>Zimmer</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:if="${newItems.empty}">
                            <td colspan="3"> Keine Produkte in der Einkaufsliste!</td>
                        </tr>

                        <tr th:each="item : ${newItems}">
                            <td><input th:field="*{checkedItems}" th:value="${item.itemId}"
                                       type="checkbox"/></td>
                            <td><span th:text="${item.itemName}"> item name </span></td>
                            <td><span th:text="${item.itemCount}"> item count </span></td>
                            <td><span
                                    th:text="${item.destination.roomDescription}"> flatmate name </span>
                            </td>
                        </tr>
                    </table>

                    <div class="flexBtn">

                        <input id="itemSubmitBtn" type="submit" name="update"
                               value="Produkte einkaufen"/>
                        <input id="itemSubmitBtn" type="submit" name="remove"
                               value="Produkte entfernen"/>

                    </div>

                </form>

            </div>

            <br>

            <div class="gridItem">
                <h2>Letzter Einkauf</h2>

                <table>
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Produkt</th>
                        <th>Menge</th>
                        <th>Zimmer</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${oldItems.empty}">
                        <td colspan="3"> Keine Produkte in der Einkaufsliste!</td>
                    </tr>

                    <tr th:each="item : ${oldItems}">
                        <!--                            <td><input th:field="*{checkedItems}" th:value="${item.itemId}"-->
                        <!--                                       type="checkbox"/></td>-->
                        <td><input type="checkbox" disabled="disabled" checked/></td>
                        <td><span th:text="${item.itemName}"> item name </span></td>
                        <td><span th:text="${item.itemCount}"> item count </span></td>
                        <td><span
                                th:text="${item.destination.roomDescription}"> flatmate name </span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

    </div>


</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
