<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/header_style.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>
<p id="testp">home</p>

</body>
</html>
