<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Einkausliste</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main class="main">

    <div class="grid">
        <h2>Mitbewohner</h2>
        <table>
            <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Geburtstag</th>
                <th>Stockwerk</th>
                <th>Zimmer</th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${flatmates.empty}">
                <td colspan="3"> Kein Mitbewohner in der Datenbank </td>
            </tr>

            <tr th:each="fm : ${flatmates}">
                <td><span th:text="${fm.firstname}"> firstname </span></td>
                <td><span th:text="${fm.surname}"> surname </span></td>
                <td><span th:text="${fm.birthday}"> surname </span></td>
                <td><span th:text="${fm.livingSpace.bedroom.level}"> level </span></td>
                <td><span th:text="${fm.livingSpace.bedroom.roomDescription}"> description
                </span></td>
            </tr>
        </table>
    </div>

</main>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
