<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <!--    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>-->
</head>
<body>

<h3 th:text="${currCourse.getCourseName()}"> Specific Course </h3>

<p th:text="${currCourse.getCourseSummary()}"></p>
<p th:text="${currCourse.getCourseDescription()}"></p>

<h4>Participants</h4>
<table>
    <thead>
    <tr>
        <th> Firstname </th>
        <th> Surname </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${currCourse.getParticipants().empty}">
        <td colspan="2"> No members have enrolled </td>
    </tr>
    <tr th:each="participant : ${currCourse.getParticipants()}">
        <td><span th:text="${participant.firstname}"> Participant firstname </span></td>
        <td><span th:text="${participant.surname}"> Participant surname </span></td>
    </tr>

    </tbody>
</table>


</body>
</html>
