<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <!--    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>-->
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<h3 th:text="${currCourse.getCourseName()}"> Specific Course </h3>

<p th:text="${currCourse.getCourseSummary()}"></p>
<p th:text="${currCourse.getCourseDescription()}"></p>

<a th:href="@{'/courses/enroll?id=' + ${currCourse.courseId}}">enrollment</a>
<a th:href="@{'/courses/dropout?id=' + ${currCourse.courseId}}">dropout</a>

<h3>Information</h3>

<h4>Host</h4>
<p th:text="${currCourse.host.firstname} + ${currCourse.host.surname}"></p>

<h4>Meetings</h4>
<ul th:each="meeting : ${meetings}">
    <li th:text="${meeting.getMeetingDate()} + ${meeting.getAddress()}">meeting</li>
</ul>

<h4>Participants</h4>
<ul th:each="participant : ${currCourse.getParticipants()}">
    <li th:text="${participant.surname}">surname</li>
    <li th:text="${participant.firstname}">firstname</li>
</ul>


</body>
</html>
