<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <!--    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div th:replace="fragments/header_bootstrap :: header_bootstrap"></div>

<div class="container pt-5">
    <h3 th:text="${currCourse.getCourseName()}"> Specific Course </h3>
    <p th:text="${currCourse.getCourseSummary()}"></p>
    <p th:text="${currCourse.getCourseDescription()}"></p>

    <div class="btn-group">
        <div th:if="${!isEnrolled}">
            <a class="btn btn-secondary" th:href="@{'/courses/enroll?id=' + ${currCourse.courseId}}">
                enrollment
            </a>
        </div>

        <div th:if="${isEnrolled}">
            <a class="btn btn-secondary" th:href="@{'/courses/dropout?id=' + ${currCourse.courseId}}">
                dropout</a>
        </div>

        <ul th:if="${!currUserRole.name().equals('ROLE_USER')}">
            <a class="btn btn-dark" th:href="@{'/courses/createAnnouncement?id=' +
            ${currCourse.courseId}}">create
                announcement</a>
        </ul>
    </div>

    <br>

    <h3>Information</h3>

    <h4>Host</h4>
    <p th:text="${currCourse.host.firstname} + ${currCourse.host.surname}"></p>

    <h4>Meetings</h4>
    <ul th:each="meeting : ${meetings}">
        <li th:text="${meeting.getMeetingDate()} + ${meeting.getAddress()}">meeting</li>
    </ul>

    <h4>Participants</h4>
    <ul th:each="participant : ${currCourse.getParticipants()}">
        <li th:text="${participant.surname}">surname</li>
        <li th:text="${participant.firstname}">firstname</li>
    </ul>

    <h3>Announcements</h3>

    <ul th:each="announcement : ${currCourse.announcements}">
        <li th:text="${announcement.content}">content</li>
    </ul>

</div>

<div th:replace="fragments/footer_bootstrap :: footer_bootstrap"></div>

</body>
</html>
