<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>

<div>

    <h3 class="pl-2">Produkt hinzufügen:</h3>

    <form action="#"
          id="itemFormContainer"
          method="post"
          th:action="@{/groceryList/addItem}"
          th:object="${item}" th:placeholder="Produkt">

        <div class="d-flex flex-row text-white">

            <select class="form-control"
                    th:field="*{itemName}">
                <option th:each="preset : ${saved_presets}"
                        th:text="${preset.presetName}"
                        th:value="${preset.presetName}"
                        class="form-control mr-2 ml-2"></option>
            </select>

            <input class="form-control mr-2 ml-2"
                   th:field="*{itemCount}"
                   th:value="${item.itemCount}"
                   type="number"/>

            <button class="btn btn-default mr-2 ml-2"
                    id="btnNewProd"
                    type="submit"
                    value="add">
                Produkt hinzufügen
            </button>

        </div>

    </form>

</div>

</body>
</html>
