<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>

<h3>Mitbewohner anlegen</h3>

<form action="#" method="post"
      th:action="@{/groceryList/admin/createFlatmate}"
      th:object="${inputPerson}"
      th:placeholder="Person">

    <div class="form-group">
        <input class="form-control" th:field="*{firstname}"
               th:value="${inputPerson.firstname}"
               th:placeholder="Vorname"
               type="text"/>
    </div>

    <div class="form-group">
        <input class="form-control" th:field="*{surname}"
               th:value="${inputPerson.surname}"
               th:placeholder="Nachname"
               type="text"/>
    </div>

    <div class="form-group">
        <label>Geburtstag:</label>
        <input class="form-control" th:field="*{birthday}"
               th:value="${inputPerson.birthday}"
               th:placeholder="birthday"
               type="date"/>
    </div>

    <div class="form-group">
        <label>Zimmer:</label>
        <select class="form-control selectableElement"
                th:field="*{livingSpaceId}">
            <option th:each="currRoom : ${emptyLivingSpaces}"
                    th:value="${currRoom.livingSpaceId}"
                    th:text="${currRoom.bedroom.roomDescription} + ' (' + ${currRoom.bedroom.level} + '. OG)'"></option>
        </select>
    </div>

    <button class="btn btn-outline-dark btn-block" type="submit" value="add">
        Mitbewohner anlegen
    </button>

</form>

</body>
</html>
