<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>

<div>

<h3>Default entfernen</h3>

<form action="#" method="post" th:action="@{/groceryList/removePreset}"
      th:object="${selectedItemPresets}">

    <div class="pb-3">
        <div class="form-check-inline" th:each="preset : ${allItemPresets}">
            <label class="form-check-label">
                <input th:field="*{checkedElements}"
                       th:value="${preset.presetId}"
                       type="checkbox"/>
                <span th:text="${preset.presetName}"> preset </span></td>
            </label>
        </div>
    </div>

    <button class="btn btn-outline-dark" type="submit" value="add">
        Default entfernen
    </button>

</form>
</div>

</body>
</html>
